@height-info: 400px;
@background-info: #FFF; //F96A68; //transparent; //#55c;

#info {
    background-color: @background-info;
    padding: 20px 0px ;
    text-align: center;
}


#map {
    height: 350px;
    width: 280px;
    margin: 20px;
    display: inline-block;
}
#msg-contacto {
    vertical-align: top;
    display: inline-block;
    margin: 30px;
    display: inline-block;
#title {
//    color: white;
    color: #F96A68;
    font-size: 40px;
       text-align: left;
}

p {
    text-align: left;
//       color: white;
       font-size: 18px;
   }
}