* {
    margin:0;
    padding:0;
}

header{
    height: 100px;
    background-color: #e6e6e6;
}

.logo {
    float: left;
    height: 5.5em;
    margin: 8px 0px 8px 30px;
}

.imglogo {
    width: 5.5em;
}

.menu{
    width: 100%;
    padding-top:0.5em;
    padding-bottom: 1.5em;
    background: #999999;
    font-family:Arial;
    font-size:14px;
    font-weight: bold;
    color:#FFFFFF;
    height: 15px;
    position: relative;
    z-index:2;

}

.menu ul {
  list-style-type: none;
}

.menu > ul > li {
    position: relative;
    float: left;
    width: 150px;
}

.menu li a {
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 8px 10px;
    color:#FFFFFF;
}

.menu a:hover {
    color: #000;
    background: #999999;
}

.menu ul li ul {
    display:none;
}

.menu li:hover > ul {
    position:absolute;
    display:block;
    background-color: #999999;
    width: 100%;
}

.menu li:hover > ul a {
    text-align: left;
}