@import url(http://fonts.googleapis.com/css?family=Montserrat);
::selection {
  background-color: black; }

html, body {
  width: 90%;
  height: 100%; }

.a {
  position: relative;
  float: right;
  height: 100%;
  width: 16.66667%;
  cursor: crosshair;
  transition: width 0.15s ease-in-out; }
  .a p {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    padding: 0;
    margin: 0;
    color: white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase; }

.a:nth-child(1) {
  background: #bed9d2; 
  height: 400px;
}

.a:nth-child(2) {
  background: #3f8488;  
  height: 400px; }

.a:nth-child(3) {
  background: #e45f69; 
  height: 400px;}

.a:nth-child(4) {
  background: #fa87a2; 
  height: 400px;}

.hover {
  width: 30%; }

.unhover {
  width: 14%; }

.click {
  width: 50%; }

.unclick {
  width: 0%; }
