@import url(http://fonts.googleapis.com/css?family=Montserrat);
::selection {
    background-color: black; }

.container-slides {
    width: 100%;
    height: 400px;
}


.slides{
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 250px;
    -webkit-margin-end: -100px;

    -moz-margin-start: 250px;
    -moz-margin-end: 0px;
    height: 400px;
    width: 70%;
    margin: 20px auto;
}

.slides .a {
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
    cursor: pointer;
    transition: width 0.15s ease-in-out; 
}
.slides .a p {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    padding: 0;
    margin: 0;
    color: white;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase; 
}

.slides .a:nth-child(1) {
  background: #bed9d2; 
  height: 400px;
}

.slides .a:nth-child(2) {
  background: #3f8488;  
  height: 400px; 
}

.slides .a:nth-child(3) {
  background: #e45f69; 
  height: 400px;
}

.slides .a:nth-child(4) {
  background: #fa87a2; 
  height: 400px;
}

.slides .hover {
  width: 40%; }

.slides .unhover {
  width: 20%; }

.slides .click {
  width: 50%; }

.slides .unclick {
  width: 0%; }
